#project {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
}

#popupProject {

    position: fixed;
    top: 15%;
    left: 50%;
    width: 700px;
    margin-left: -380px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    z-index: 3000;
}

#popupProject div {
    display: block;
}

#usertoproject {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
}

#popupAssign {

    position: fixed;
    top: 15%;
    left: 50%;
    width: 700px;
    margin-left: -380px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    z-index: 3000;
}

#popupAssign div {
    display: block;
}

.heading_pr {
    background: royalblue;
    color: lightgoldenrodyellow;
    font-size: 1.3em;
    height: 43px;
    line-height: 43px;
    margin: 0;
    overflow: hidden;
    padding: 0 1em;
}

.heading_pr h2 {
    display: block;
    font-weight: bold;
}

.heading_as {
    background: royalblue;
    color: lightgoldenrodyellow;
    font-size: 1.3em;
    height: 43px;
    line-height: 43px;
    margin: 0;
    overflow: hidden;
    padding: 0 1em;
}

.heading_as h2 {
    display: block;
    font-weight: bold;
}

.popup-content {
    background-color: #ffffff;
    padding: 0;

}

form {
    color: #333;
    font-family: arial, tahoma, verdana, sans-serif;
    position: relative;
    margin-bottom: -16px;
}

.form-body_pr {
    opacity: 1;
    position: relative;
    overflow: auto;
    padding: 10px 30px 10px 10px;
    height: 400px;
    max-height: 410px;
}

.form-body_as {
    opacity: 1;
    position: relative;
    overflow: auto;
    padding: 10px 30px 10px 10px;
    height: 400px;
    max-height: 410px;
}

.form-body_us {
    opacity: 1;
    position: relative;
    overflow: auto;
    padding: 10px 30px 10px 10px;
    height: 500px;
    max-height: 520px;
}

.field-group {
    clear: both;
    min-height: 1.6em;
    padding: 0 0 30px 140px;
}

.field-group label {
    float: left;
    display: block;
    left: -140px;
    line-height: 1;
    margin-right: -130px;
    padding-top: 4px;
    position: relative;
    width: 130px;
    text-align: right;
    word-wrap: break-word;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.content {
    padding-top: 7%;
}

.content select {
    width: 250px;
    height: 25px;
    border: 1px solid darkgray;
}

.long_in {
    width: 100%;
    height: 25px;
    border: 1px solid darkgray;
}

.bottom_container {
    min-height: 0;
    overflow: visible;
    clear: both;
    background: royalblue;
    color: lightgoldenrodyellow;
    padding: 12px 15px 12px 12px;
    margin: 0;
    border-top: 1px solid #ddd;

}

.buttons {
    padding: 0 0 5px 140px;
    text-align: right;
}

input[type=button] {
    margin: 0 10px 0 0;
    background: #eee;
    border: 1px solid #aaa;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 35px;
    padding: 4px 14px;
    text-align: center;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ffffff;
}

input[type=button]:hover {
    margin: 0 10px 0 0;
    background: gainsboro;
    border: 1px solid grey;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 35px;
    padding: 4px 14px;
    text-align: center;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ffffff;
}

.buttons a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    line-height: 1.2;
    font-weight: 400;
}

.buttons a:hover {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    line-height: 1.2;
    font-weight: 400;
    color: lightgray;
}

#user {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
}

#popupUser {

    position: fixed;
    top: 15%;
    left: 50%;
    width: 700px;
    margin-left: -380px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    z-index: 3000;
}

#popupUser div {
    display: block;
}

.heading_us {
    background: royalblue;
    color: lightgoldenrodyellow;
    font-size: 1.3em;
    height: 43px;
    line-height: 43px;
    margin: 0;
    overflow: hidden;
    padding: 0 1em;
}

.heading_us h2 {
    display: block;
    font-weight: bold;
}

#projectEdit {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
}

#popupProjectEdit {

    position: fixed;
    top: 15%;
    left: 50%;
    width: 700px;
    margin-left: -380px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    z-index: 3000;
}

#popupProjectEdit div {
    display: block;
}

#userEdit {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
}

#popupUserEdit {

    position: fixed;
    top: 15%;
    left: 50%;
    width: 700px;
    margin-left: -380px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    z-index: 3000;
}

#popupUserEdit div {
    display: block;
}

#issue {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto
}

#popupIssue {

    position: fixed;
    top: 55%;
    left: 50%;
    width: 800px;
    margin-left: -380px;
    margin-top: -466px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    z-index: 3000;
}

#popupIssue div {
    display: block;
}